@use "@styles/_variables.scss" as *;

.tag {
  display: inline-block;
  background-color: $primary-100;
  color: $white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: default;

  &:hover {
    background-color: $primary-hover;
  }
}
