@use "@styles/_variables.scss" as *;

.post-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(280px, 1fr));
  gap: 20px;
  min-height: 300px;

  &__item {
    padding: 20px;
    border: 1px solid $primary-40;
    border-radius: 8px;
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px 0;
    font-size: 1.1rem;
    color: $b-500;
  }
}

/* 반응형 스타일 */
@media (max-width: 1024px) {
  .post-list {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
