@use "@styles/_variables.scss" as *;

.post-list {
  min-height: 300px;
  width: 100%; // 기본적으로 너비를 100%로 설정하여 최대한 유연하게 만듭니다.
  max-width: 800px; // 최대 너비를 800px로 설정하여 큰 화면에서도 적절한 크기를 유지합니다.
  
  &__empty {
    text-align: center;
    padding: 40px 0;
    font-size: 1.1rem;
    color: $b-500;
  }
}

// 반응형 미디어 쿼리
@media (max-width: 1024px) { // 노트북과 대형 태블릿
  .post-list {
    max-width: 100%; // 화면 크기에 따라 너비를 100%로 조정
  }
}

@media (max-width: 768px) { // 태블릿
  .post-list {
    max-width: 100%;
  }
}

@media (max-width: 480px) { // 모바일
  .post-list {
    max-width: 100%;
  }

  .post-list__empty {
    font-size: 1rem; // 폰트 크기를 조금 더 작게 조정
  }
}
