@use "../styles/_variable.scss" as *;

.post-detail {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%; // 추가: 전체 화면 너비에 맞추기
  box-sizing: border-box; // 추가: 패딩 포함 크기 조정

  &__header {
    text-align: center;
    margin-bottom: 20px;

    &-title {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-100;
      margin-bottom: 0.5rem;
      word-wrap: break-word;
    }

    &-date {
      font-size: 1rem;
      color: $b-500;
    }
  }

  &__content {
    flex: 1;
    max-width: 800px;
    padding: 0 10px; // 모바일에서 양쪽 패딩 추가
    width: 100%; // 추가: 너비를 100%로 설정하여 화면에 맞춤

    &-markdown {
      line-height: 1.6;
      color: $b-700;
      overflow-wrap: break-word; // 긴 텍스트 줄바꿈
      word-wrap: break-word;

      pre {
        overflow-x: auto;
        background-color: $b-50;
        padding: 10px;
        border-radius: 8px;
        max-width: 100%;
        box-sizing: border-box;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
        word-wrap: break-word;
      }

      a {
        color: $primary-100;
        text-decoration: underline;

        &:hover {
          color: $primary-hover;
        }
      }
    }
  }

  &__toc {
    position: fixed;
    top: 100px;
    right: 5%;
    width: 200px;
    max-height: 80vh;
    overflow-y: auto;
    background-color: $b-50;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-list {
      list-style-type: none;
      padding-left: 0;

      &-item {
        margin-bottom: 0.5rem;

        a {
          color: $b-700;
          text-decoration: none;

          &:hover {
            color: $primary-100;
          }
        }
      }
    }

    // 모바일 뷰에서 TOC 숨기기
    @media (max-width: 768px) {
      display: none;
    }
  }

  // 모바일 반응형 스타일
  @media (max-width: 768px) {
    padding: 10px;

    &__header {
      &-title {
        font-size: 1.5rem;
      }

      &-date {
        font-size: 0.9rem;
      }
    }

    &__content {
      max-width: 100%;

      &-markdown {
        font-size: 0.95rem;
      }
    }
  }

  // 더 작은 화면에서 추가적인 조정
  @media (max-width: 480px) {
    &__header {
      &-title {
        font-size: 1.2rem;
      }

      &-date {
        font-size: 0.8rem;
      }
    }

    &__content {
      &-markdown {
        font-size: 0.9rem;
      }
    }
  }
}
