.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr auto 1fr;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.column {
  display: flex;
  justify-content: center;
}

@media (max-width: 1440px) {
  .column:nth-child(1),
  .column:nth-child(3) {
    display: none;
  }

  .container {
    grid-template-columns: auto;
  }
}
